/* SingleDonationPage.css */

.tagImg {
    width: 100%;
    border-radius: 20px;
  }
  
  .eduDiv {
    display: flex;
    align-items: center;
  }
  
  .donateContainer {
    display: flex;
    align-items: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .donateBtn {
    width: 80%;
    border: 1px solid red;
    background-color: #fdb72f;
    height: 50px;
    font-size: 20px;
    margin-left: 80px;
    border-radius: 20px;
  }
  
  .containerDiv {
    display: flex;
    align-items: center;
  }
  
  .margin30 {
    margin-left: 30px;
  }
  
  .footerCon {
    width: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px;
    background-color: #fbf8f6;
  }
  
  .footerHeading {
    width: 90%;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .footerDiv {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }
  